name: camera_with_gps
description: A Flutter plugin for capturing photos with embedded GPS metadata.
version: 2.3.0
homepage: https://github.com/RuslanMadzhara/camera_with_gps
repository: https://github.com/RuslanMadzhara/camera_with_gps

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

  camera: ^0.11.1
  geolocator: ^13.0.3
  exif: ^3.3.0
  plugin_platform_interface: ^2.1.8
  permission_handler: ^11.0.0
  image: ^4.5.4
  image_picker: ^1.1.2
  device_info_plus: ^11.5.0
  native_device_orientation: ^2.0.3


flutter:
  plugin:
    platforms:
      android:
        package: camera_gps_plugin
        pluginClass: CameraWithGpsPlugin
      ios:
        pluginClass: CameraWithGpsPlugin
